<div class="section" ng-controller="TrackCtrl">
	<div class="row">
	  <h4 class="light header center">Tracking</h4>
	  	<form class="col s12">
	  		<div class="row">
	  			<div class="input-field col s3">
			        <input placeholder="tiki/jne ?" id="pengirim" type="text" class="validate" ng-model="pengirim">
			    </div>
				<div class="input-field col s5">
			        <input placeholder="Origin" id="resi" type="text" class="validate" ng-model="resi">
			    </div>
			    <div align="center" class="input-field col s4">
			    	<a class="waves-effect waves-light btn-large green" ng-click="dotrack()"> Track</a>
			    </div>
			</div>
		</form>
	</div>
	<div class="row center" ng-show="loading">
		<div class="preloader-wrapper big active">
		    <div class="spinner-layer spinner-blue">
		        <div class="circle-clipper left">
		          <div class="circle"></div>
		        </div><div class="gap-patch">
		          <div class="circle"></div>
		        </div><div class="circle-clipper right">
		          <div class="circle"></div>
		        </div>
		    </div>

		    <div class="spinner-layer spinner-red">
		        <div class="circle-clipper left">
		          <div class="circle"></div>
		        </div><div class="gap-patch">
		          <div class="circle"></div>
		        </div><div class="circle-clipper right">
		          <div class="circle"></div>
		        </div>
		    </div>

		    <div class="spinner-layer spinner-yellow">
		        <div class="circle-clipper left">
		          <div class="circle"></div>
		        </div><div class="gap-patch">
		          <div class="circle"></div>
		        </div><div class="circle-clipper right">
		          <div class="circle"></div>
		        </div>
		    </div>

		    <div class="spinner-layer spinner-green">
		        <div class="circle-clipper left">
		          <div class="circle"></div>
		        </div><div class="gap-patch">
		          <div class="circle"></div>
		        </div><div class="circle-clipper right">
		          <div class="circle"></div>
		        </div>
		    </div>
		</div>
	</div>
	<div class="row" ng-show="data">
		<div class="col s12">
	      	<table class="striped responsive-table">
		        <thead>
			        <tr>
			            <th>RESI </th>
			            <th>STATUS</th>
			            <th>SERVICE</th>
			            <th>TANGGAL</th>
			            <th>ASAL</th>
			            <th>TUJUAN</th>
			        </tr>
		        </thead>
		        <tbody>
			        <tr>
			            <td>{{data.no_resi}}</td>
			            <td>{{data.status}}</td>
			            <td>{{data.service}}</td>
			            <td>{{data.tanggal}}</td>
			            <td>{{data.asal.nama}},{{data.asal.alamat}}</td>
			            <td>{{data.tujuan.nama}},{{data.tujuan.alamat}}</td>
			        </tr>
		        </tbody>
		    </table>
		</div>
	</div>
</div>